<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Помощь</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
    <body>

      <header>
        <div class="container">
          <nav class="navbar navbar-inverse">
              <div class="container-fluid" style="background-color: #5221b4">
                <ul class="nav navbar-nav">
                  <li><a style="color:black"href="http://localhost:5000/speech">Синтез речи</a></li>
                  <li><a style="color:black" href="http://localhost:5000/recognize">Анализ речи</a></li>
                </ul>
              </div>
          </nav>
        </div>
      </header>
      <main>
        <div class="container">
            <h1>Использование системы:</h1>
            <hr>
            <h4>
                Для ситенза речи перейдите на вкладку  <a href="http://localhost:5000/speech">"Синтез речи"</a>
                , где будут доступны следующие функции:
            </h4>
            <p> 1. Ввод текста или копирование через буфер в специальное поле;</p>
            <p> 2. Воспроизведение сформированного речевого сигнала для введенного текста;</p>
            <p> 3. Регулировка (выбор) голоса говорящего, темпа, громкости.</p>
            <hr>
            <h4>
                Для анализа речи перейдите на вкладку <a href="http://localhost:5000/recognize">"Анализ речи"</a>
              , где можно получить информацию о научных статьях по computer science:
            </h4>
            <p> 1. «print» - получить статью;</p>
            <p> 2. «tell about» - прослушать статью;</p>
        </div>
      </main>
    </body>
</html>